.test{
    color: #181835;
    color: #282850;
    color: #514f84;
    color: #ccc;
      background: linear-gradient(135deg, #10b981, #059669);
        background: linear-gradient(135deg, #514f84, #686ae1);


}